body {
    background-color: #eda779;
    color: #ffffff;
}
.cabecalho {
    height: 80px;
    background-color: #0b0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid #282828;
}

.cabecalho .titulo-pg{
    height: 40px;
    display: flex;

}
.cabecalho .menu{
    display: flex;
    gap: 30px;
}
.cabecalho .menu li a:hover{
    border-bottom: 2px solid #fff;
}

.home{
    background-color: aqua;
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
}
.home::after{
    /* background-color: blue; */
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0, .85),rgba(0, 0,0, .7) 35%, transparent 65%);
}
.home .imagem-fundo{
    width: 100%;
    object-fit: cover;
}
.home .informacoes{
    
    position: absolute;
    z-index: 1;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 80px 80px 80px 170px;
    max-width: 780px;
}
.home .informacoes img{
    max-width: 150px;

}

.btn-comprar, .btn-cardapio {
    background-color: rgba(255, 255,255, .1);
    border: 0.5px solid #d802fe;
    border-radius: 4px;
    font-family: 'ChaletComprime';
    font-size: 25px;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
    flex-direction: row;
}